<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-test"
        version="0.0.1">
    <name>Test</name>
    <description>Cordova Device Test</description>
    <license>Apache 2.0</license>
    <keywords>cordova,test</keywords>
    <js-module src="www/test.js" name="test">
        <clobbers target="test" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Test" >
                <param name="android-package" value="com.tosi.saverio.test.Test"/>
            </feature>
        </config-file>

        <source-file src="src/android/Test.java" target-dir="src/com/tosi/saverio/device" />
    </platform>
</plugin>
